@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Denver, CO 80222<br />
    <abbr title="Phone">P:</abbr>
    303 946 4708
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@salesprices.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@salesprices.com">Marketing@example.com</a>
</address>
